.btnRoom{
    height: 100px;
    width: 100px;
    font-size: X-large;
    font-weight: bold;
    margin: 10px;
    display: inline;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    box-shadow: 4px 4px 4px gray;

}

.btnRoom:hover{
    color: aliceblue;

}

.roomD{
    display: inline-block;

}

